<!--评论主题局部模板-->
<span class='commentTitle'>{{commentThread.title}}</span>
<input type="button" ng-show='addComment==false'
	value='Add Comment' ng-click='addComment=true'>
<form ng-show='addComment==true'>
	<label>Subject</label>
	<input type="text" ng-model='replySubject'>
	<label>Comment</label>
	<textarea ng-model='replyBody'></textarea>
	<input type="button" value='Send' 
		ng-click='addCommit=false;addReply(commentThread._id,replySubject,replyBody)'>
</form>
<input type="button" ng-show='addComment==true'
	value='Cancel' ng-click='addComment=false;'>
<div ng-repeat='comment in commentThread.replies' 
	ng-init='reply=false;replySubject=""'>
	<div class='comment' ng-include="'/static/comment.html'"></div>
</div>

<!--评论局部模板-->
<span class='usename'>{{comment.username}}</span>:
<span class='subject'>{{comment.subject}}</span>
<p class="timestamp">posted {{comment.timestamp|date:"MMMM d yyyy H:mm"}}</p>
<input type="button" ng-show='reply==false'
	value="Reply" ng-click='reply==true'>
<form ng-if='reply'>
	<label>Subject</label>
	<input type="text" ng-model='replySubject'>
	<label>Comment</label>
	<textarea ng-model='replyBody'></textarea>
	<input type="button" value='Send'
		ng-click='addReply(commit._id,replySubject,replyBody)'>
</form>
<input type="button" ng-show='reply==true'
	value='Cancel' ng-click='reply=false;'>
<div ng-repeat='comment in comment.replies'
	ng-init='reply=false;replySubject="";replyBody=""'>
	<div class="comment" ng-include='"/static/commment.html"'></div>
</div>
